<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/fullPage/jquery.fullPage.css">

    <script src="javascripts/jQuery/jquery-2.2.3.min.js"></script>
    <script src="javascripts/fullPage/jquery.fullPage.min.js"></script>
    <script src="javascripts/echars/echarts.min.js"></script>
    <script src="javascripts/common/demo.js"></script>

</head>
<body>
<div class="main-top">
    <nav>
        <ul class="nav-menu">
            <li><a href="javascript:">Home</a></li>
            <li><a href="javascript:">demo</a></li>
            <li><a href="javascript:">doc</a></li>
            <li><a href="javascript:">license</a></li>
        </ul>
    </nav>
</div>
<div id="main-content">
    <div class="section sec-gud">
        <section>
            <h1>DK.RS</h1>
        </section>
    </div>
    <div class="section sec-demo">
        <div>
            <ul class="chart-Category">
                <li id="chart-line" class="line" title="折线图">line</li>
                <li id="chart-bar" class="bar" title="柱状图">bar</li>
                <li id="chart-pie" class="pie" title="饼状图">pie</li>
                <li id="chart-scatter" class="scatter" title="散点图">scatter</li>
                <li id="chart-radar" class="radar" title="雷达图">radar</li>
            </ul>
        </div>
        <div id="charts"></div>
    </div>
    <div class="section sec-bi">
        <section>
            <p></p>
        </section>
    </div>
    <div class="section"></div>
    <div class="section sec-bot fp-auto-height">
        <section class="bottom">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </div>
</div>
</body>
</html>
